
@{
    ViewBag.Title = "Admin Index";
    Layout = null;
}
<html>
<head>
  
</head>
<body>
  <div>
      <h2>Panel admina</h2><br />
      @Html.ActionLink("Edytuj pokoje", "Rooms")<br />
      @Html.ActionLink("Edytuj rezerwacje", "Reservations")
    </div>
</body>
</html>
