
@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

      <h2>Panel admina</h2><br />
      @Html.ActionLink("Edytuj pokoje", "Rooms", 
                        new { }, new { @class = "btn btn-xs btn-primary" })<br /><br />
      @Html.ActionLink("Edytuj rezerwacje", "ReservationsEdit", 
                        new { }, new { @class = "btn btn-xs btn-primary" })<br /><br />
      <p>Wyloguj</p>


