<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
       body{margin: 15px; padding: 15px; border: 2px solid black;}

       

    </style>
</head>
<body>
      
        @RenderBody()
    
</body>
</html>
